.wms-controls-wrapper{
  margin: 30px;
  padding: 20px;
  width: 400px;
  height: 340px;
}

.wms-no-network-icon{
  transform: scale(0.85);
  margin-right: 6px;
}

.wms-controls-header{
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 8px;
}

.wms-elevation-wrapper{
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
  height: 56px;
}
.wms-elevation-slider{
  width: 210px;
  margin-right: 35px;
}
.wms-elevation-label{
  margin-top: 18px;
}
.wms-transparent-wrapper{
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
}

.wms-transparent-label{
  font-size: 16px;
  margin-left: 30px;
}

.wms-transparent-checkbox{
  margin-right: 6px;
}

.wms-opacity-wrapper{
  display: flex;
  flex-direction: horizontal;
  height: 56px;
  justify-content: space-between;
}

.wms-opacity-label-wrapper{
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
  margin-top: 18px;
}

.wms-opacity-slider{
  width: 210px;
  margin-right: 35px;
}

.wms-opacity-label{
  font-size: 16px;
}

.wms-layer-wrapper{
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
}

.wms-layer-label{
  font-size: 16px;
  margin-top: 20px;
  margin-left: 30px;
}

.wms-layer-dropdown{
  width: 270px;
}

.wms-styles-wrapper{
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
}

.wms-styles-label{
  font-size: 16px;
  margin-top: 20px;
  margin-left: 30px;
}

.wms-styles-dropdown{
  width: 270px;
}