.mainHeader {
  font-size: 36px;
  font-weight: 500;
  color: #333;
  margin: 0px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.outerdiv {
  display: inline-block;
  margin: 20px 20px 0px 20px;
}

.imageTitleBar {
  position: relative;
  height: 50px;
  background-color: #0093b2;
  font-size: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.innerText {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
  padding: 10px;
}

.serviceImage {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  width: 225px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: calc((360px - 225px)/2);
}

.service-container {
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 0 25px #000000;
  transition: 0.2s;
  width: 360px;
  border-radius: 5px;
  background-color: white;
}

.service-container:hover {
  transform: scale(1.05);
}

.descrip {
  text-align: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

a {
  color: black;
  text-decoration: none;
}

.moreInfoDiv {
  padding: 10px;
  font-size: 18px;
  background-color: #337AB7;
  color: white;
  border-radius: 4px;
  width: 340px;
}

.moreInfoDiv:hover {
  background-color: #2e6da4;
}

.moreInfoDiv a {
  color: white;
}

#serviceElementsWrapper {
  display: flex;
  justify-content: center;
  width: calc(3 * (360px + 20px + 20px));
  /* centers the div */
  margin-left: calc((100vw - 3 * (360px + 20px + 20px))/2);
  flex-wrap: wrap;
}

/* 2 serviceContainers per row */
@media screen and (max-width: 1200px) {
  #serviceElementsWrapper {
    display: flex;
    justify-content: center;
    width: calc(2 * (360px + 20px + 20px));
    /* centers the div */
    margin-left: calc((100vw - 2 * (360px + 20px + 20px))/2);
    flex-wrap: wrap;
  }
}

/* 1 serviceContainer per row */
@media screen and (max-width: 800px) {
  #serviceElementsWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-left: 0px;
  }

  .outerdiv {
    width: 90%;
    margin: 0px;
  }

  .service-container {
    width: 100%;
  }

  .serviceImage {
    width: 225px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: calc((90vw - 225px)/2);
  }

  .moreInfoDiv {
    width: calc(100% - 20px);
  }
}