.linkNav{
	text-align: left;
	margin: 15px;
	position: fixed;
}
.linkNav #selected{
	color: blue;
}
.linkNav .firstOrder{
	margin-left: 0px
}

.linkNav .secondOrder{
	margin-left: 10px;
}

.help{
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
	width: 80%;
	display: block;
	margin: auto;
	padding-top: 10px;
	margin-top: 20px;
}

.help img{
	width: 56vw;
	height: auto;
    box-shadow: 1px 1px 20px 0px black;
	margin-bottom: 75px;
}
.help p{
	width: 60vw;
	margin:20px 0px 30px 10vw;
	text-align: left;
	text-indent: 1em;
}

.help h1 {
	font-size: 28px;
  	color: #ffffff;
  	background-color: #0a548b;
  	width: 70%;
  	padding: 10px;
  	border-radius: 5px;
  	display: block;
  	margin: auto;
}