.leaflet-container {
  width: 100%;
  height: 480px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.leaflet-control .thumbnail,
.leaflet-control .thumbnail .img-thumbnail {
  margin-bottom: 0px;
}

.leaflet-legend.leaflet-control {
  margin-bottom: 8px;
}
