#datasetSearchContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#datasetSearchContainer p{
	margin: 7px 0px;
	font-size: 18px;
}

#datasetSearchContainer .highlight{
  background-color: orange;
}

#datasetSearchContainer .searchResult{
	margin-top: -1px;
	padding: 10px 10px 0 10px;
	border: 1px solid lightgrey;
}

#datasetSearchContainer .oddResult{
	background-color: #e3e3e3;
}

#datasetSearchContainer .searchTitle{
	display: inline-block;
}
#datasetSearchContainer .searchTitle:hover{
	color: #4286f4;
	cursor: pointer;
}

#datasetSearchContainer .searchAuthor{
	display: inline-block;
	margin-left: 10px;
	font-size: 14px;
}

#datasetSearchContainer .searchAuthor > a {
  text-decoration: underline;
  color: #0000FF;
}

#datasetSearchContainer #resultContainer{
	margin-top: 2px;
	width: 100%;
}

#searchChipInputContainer{
	width: 100%;
	height: 55px;
}

#searchChipInputContainer #arrowContainer{
	width: 10px;
	height: 10px;
	margin-left: 5px;
	padding-top: 5px;
}
#searchChipInputContainer #filterButton .arrowDown{
  width: 0; 
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #444;

}
#searchChipInputContainer #filterButton{
	height: 100%;
	padding: 0px 10px;
	margin-left: -1px;
	border: solid 1px lightgrey;
	background-color: #f3f3f3;
	line-height: 55px;
	font-size: 17px;
	vertical-align: center;
	color: #444;
	display: flex;
	align-items: center;
}

#searchChipInputContainer #filterButton:hover{
	background-color: #e3e3e3;
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(100,100,100,1);
	-moz-box-shadow: inset 0px 0px 1px 0px rgba(100,100,100,1);
	box-shadow: inset 0px 0px 1px 0px rgba(100,100,100,1);
}
#searchChipInputContainer #filterButton.selected{
	background-color: #e3e3e3;
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(100,100,100,1);
	-moz-box-shadow: inset 0px 0px 3px 0px rgba(100,100,100,1);
	box-shadow: inset 0px 0px 3px 0px rgba(100,100,100,1);
}

#searchChipInputContainer #filterSuggestionHeader{
  color: grey;
  font-size: 13px;
}

#searchChipInputContainer .filterOption{
  margin: 10px 0;
  cursor: pointer;
}

#searchChipInputContainer #filterSuggestions{
  margin-left: 10px
}

#searchChipInputContainer #autoComplete{
	position: relative;
	z-index: 10;
	background-color: white;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
#searchChipInputContainer #searchChipInput{
  background-color: white;
  border: solid 1px lightgrey;
  height: 55px;
  display: flex;
  align-items: center;
}
  
#searchChipInputContainer #textArea{
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  white-space: nowrap;
  font-size: 18px;
  flex-grow: 1;
}

#searchChipInputContainer .deleteDiv{
  width: 20px;
  height: 20px;
  display: inline;
  cursor: pointer;
  margin: 2.5px;
  border-radius: 10px;
  background-color: grey;
  color: white;
}

#searchChipInputContainer .chip{
  height: 25px;
  border-radius: 5px;
  margin: 7px;
  padding: 4px;
  background-color: lightgrey;
  display: flex;
  flex-shrink: 0;
}
#searchChipInputContainer .chipText{
  font-size: 16px;
  line-height: 20px;
  margin-top: 4px;
  vertical-align: center;
}

/* Search Pagination Controller */

.searchPagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftSearchButtons {
  padding-left: 10px;
  padding-top: 10px;
}

.previousButton {
  margin-left: 10px;
}

.rightSearchButtons {
  padding-right: 10px;
  padding-top: 10px;
}

.nextButton {
  margin-right: 10px;
}